[submodule "parallel-rdp/parallel-rdp-standalone"]
	path = parallel-rdp/parallel-rdp-standalone
	url = https://github.com/gopher64/parallel-rdp-standalone.git
	branch = gopher64
[submodule "src/compat/sse2neon"]
	path = src/compat/sse2neon
	url = https://github.com/DLTcollab/sse2neon.git
