name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Update rust
        run: |
          rustup update
      - name: Build
        run: |
          cargo build --release
      - name: Upload file
        uses: actions/upload-artifact@v3
        with:
          name: gopher64-linux
          path: target/release/gopher64

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Update rust
        run: |
          rustup update
      - name: Build
        run: |
          cargo build --release
      - name: Upload file
        uses: actions/upload-artifact@v3
        with:
          name: gopher64-windows
          path: target/release/gopher64.exe

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Update rust
        run: |
          rustup update
      - name: Build
        run: |
          cargo build --release
      - name: Upload file
        uses: actions/upload-artifact@v3
        with:
          name: gopher64-mac
          path: target/release/gopher64
